%form{:onsubmit=>"edit('#{page.label}'); return false;"}
  %strong Title:
  %input{:type=>'text',:id=>'edittitle',:value=>page.title}
  %br
  %strong Content:
  #epiceditor= page.content
  %input{:type=>'submit',:value=>'save'}
%style
  :plain
    #epiceditor { 
      height: 349px;
      border:1px solid #000;
      box-shadow: rgba(0, 0, 0, 0.75) 0 2px 5px;
      border-radius: 3px;
      margin-top: 20px;
    }
%script{:type=>'text/javascript',:src=>'/epiceditor/js/epiceditor.min.js'}
%script{:type=>'text/javascript',:src=>'js/edit.js'}
