!!! 5
%html
  %head
    %meta{:charset=>'utf-8'}
    %link{:type=>'text/css',:rel=>'stylesheet',:href=>'/blackjax/main.css'}
    %title BlackJax CMS
  %body
    #main
      %img{:src=>'/blackjax/logo.png',:alt=>'BlackJax Logo'}
      = yield
