-@pages.each do |page|
  %li{:class=>page.label}
    %a{:href=>"#/#{page.label}"}= page.title
-if is_authenticated?
  %li
    %a#addpage +
    <script>
    $("#addpage").click(function(e){
    e.preventDefault();
    $("#addpage_dialog").dialog("open");
    });</script>