-if is_authenticated?
  -@modules.each do |mod|
    %li
      %a{:href=>"##{mod}"}= mod.capitalize
-else
  %li
    %a#loginlink{:href=>''} Login
    <script>
    $("#loginlink").click(function(e){
    e.preventDefault();
    $("#loginlinkdialog").dialog("open");
    });</script>